/* 自定义复选框 */
.label-container{
    padding-bottom: 100%;
}
.myCheckbox{
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 4em;
    height: 2em;
}
.myCheckbox::before{
    content:' ';
    display: inline-block;
    background-color:white;
    border-radius: 2em;
    position: absolute;
    height: 2em;
    width: 2em;
    border:1px solid #abb3ad;
    box-shadow:2px 0px 4px #abb3ad;
    left: 1px;
    z-index: 9999;
    /* 阴影 */
    /* background-image: -webkit-gradient(linear,290% 472%, 3% 32%, from(white), to(#fbf8f8), color-stop(0.5,#646666)); */
}
.myCheckbox:hover::before{
    box-shadow:   0px 0px 0.2em rgb(32, 32, 32);
}

.myCheckbox::after{
    content:' ';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #efefef;
    left:0;
    z-index: -1;
    border-radius: 100px;
    border: 1px solid #abb3ad;
}
.myCheckbox:active::after{
    box-shadow:inset 0px 0px 0.3em gray;
}
.myCheckbox::after,.myCheckbox::before{
    transition: left 0.5s cubic-bezier(0.27, 0.34, 0.34, 1.57),background-color 0.5s;
    -webkit-transition: left 0.5s cubic-bezier(0.27, 0.34, 0.34, 1.57),background-color 0.5s;
    -moz-transition: left 0.5s cubic-bezier(0.27, 0.34, 0.34, 1.57),background-color 0.5s;
}
input[type='checkbox']:checked+label.myCheckbox:before{
    left:2em;
}
input[type="checkbox"]:checked+label.myCheckbox:after{
    background-color:#4cda60;
}
/* 自定义复选框 */


/* 自定义Radio */
.myRadio{
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius:100%;
    background-color:#ECF2F7;
    border:1px solid #92A1AC;
}
.myRadio:focus,.myRadio:active{
    box-shadow: inset 0px 0px 3px gray;
}
.myRadio::before{
    content:" ";
    display: inline-block;
    position: absolute;
    z-index: 9999;
    border-radius: 50%;
    margin: 23%;
    padding: 28%;
    -moz-transition: -moz-transform 0.3s cubic-bezier(0.25, 0.1, 0.29, 1.61);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.29, 1.61);
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.29, 1.61);
    transform: scale(0) ;
}
input[type='radio']:checked+label.myRadio::before{
    background-color:#1d1f21;;
    box-shadow: inset 0 15px 23px -10px rgba(187, 230, 240, 0.3), 0 2px 2px rgba(0, 0, 0, 0.1);
    transform: scale(1);
}
/* 自定义Radio */


/* 自定义LINK */
.myLink{
    margin-left:1.5em;
    margin-right:1.5em;
    text-decoration: none;
    color:inherit;
    font-size:auto;
    position: relative;
    display: inline-block;
}
.myLink::before{
    content:"[";
    transform:translateX(20px);
}
.myLink::after{
    content:"]";
    transform:translateX(-20px);
}
.myLink::after,.myLink::before{
    position: absolute;
    opacity: 0;
    height: 0;
    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.24, 1.8);
}
.myLink:hover{
    font-weight: bold;
}
.myLink:hover::before{
    height: 100%;
    opacity: 1;
    transform: translateX(-1em);
}
.myLink:hover::after{
    height: 100%;
    opacity: 1;
    transform: translateX(0.6em);
}
input[type='radio']:checked+label.myLink{
    font-weight: bold;
}
input[type='radio']:checked+label.myLink::before{
    height: 100%;
    opacity: 1;
    transform: translateX(-1em);
}
input[type='radio']:checked+label.myLink::after{
    height: 100%;
    opacity: 1;
    transform: translateX(0.6em);
}
input[type='checkbox']:checked+label.myLink{
    font-weight: bold;
}
input[type='checkbox']:checked+label.myLink::before{
    height: 100%;
    opacity: 1;
    transform: translateX(-1em);
}
input[type='checkbox']:checked+label.myLink::after{
    height: 100%;
    opacity: 1;
    transform: translateX(0.6em);
}
/* 自定义link */


/* 自定义label-spinner */
.myLabel-spinner{
    position: relative;
    display: block;
    width: 4em;
    height: 2em;

}
.myLabel-spinner::before{
    /* background-color:#c1c0c0; */
    cursor: pointer;
    content: attr(label-off);
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 2em;
    border-radius: 0.5em;
    font-weight: bold;
    /* color:white; */
    color:#7d7d7d;
    backface-visibility:hidden;
}
.myLabel-spinner:active::before{
    transform: rotateY(30deg);
    -webkit-transform: rotateY(60deg);
}
input[type='checkbox']:checked+label.myLabel-spinner:active:after{
    transform: rotateY(60deg);
    -webkit-transform: rotateY(60deg);
}
.myLabel-spinner::after{
    /* background-color:#60e4aa; */
    cursor: pointer;
    content: attr(label-on);
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 2em;
    border-radius: 0.5em;
    font-weight: bold;
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    backface-visibility:hidden;
    /* color:white; */
    color:black;
}
.myLabel-spinner::after,.myLabel-spinner::before{
    transition: transform 0.4s cubic-bezier(0.39, 0.38, 0.43, 1.6);
}
input[type='checkbox']:checked+label.myLabel-spinner::after{
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
} 
input[type='checkbox']:checked+label.myLabel-spinner::before{
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
} 
/* 自定义label-spinner */
