body{
    background: white;
    margin: 0;
    width: 400px;
    height: 800px;
    /* overflow: hidden; */
}
main,iframe{
    height: 100%;
    width: 100%;
}
#login-frame{
    position: fixed;
    top: 0;
    left: 0;
}