ul.autocomplete-ul{
    position: absolute;
    background: white;
    width: auto;
    min-width: 200px;
    border: 1px solid #ddd;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
    top: 30px;
    left: 5px;
    z-index: 1;
    max-height: 200px;
    overflow-y: scroll;
    overflow-y: auto;
    display: block;
    transition: all 0.3s;
    animation: translateY 0.3s ease-in-out;
    height: auto;
    min-height: 40px;
}
@keyframes translateY{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform:translateY(0);
        opacity: 1;;
    }
}
ul.autocomplete-ul.show{
    display:block;
}
ul.autocomplete-ul>li{
    padding : 5px;
    cursor:default;
    white-space:normal;
    word-break: break-all;
    /* pointer */
    position: relative;
    padding-left: 10px;
}
/* ul.autocomplete-ul>li:not(:last-of-type)::after{
    content: "";
    position: absolute;
    bottom:0;
    left: calc(1em);
    width: calc(100% - 2em);
    height: 1px;
    background: rgb(163, 155, 155);
    display: block;
} */
ul.autocomplete-ul>li::before{
    content: "";
    width:2px;
    height: 2px;
    display: block;
    position: absolute;
    left: 4px;
    top: calc(50% - 1px);
    background: #555;
    background: currentColor;
    opacity: 0.6;
}
ul.autocomplete-ul>li.hover::before{
    background: white;
}

/* ul.autocomplete-ul>li:hover, */
ul.autocomplete-ul>li.hover{
    background:#56a7b4;
    /* #56a7b4 #17a2b8  #6c9af7 */
    
    color:white;
}
.ui-autocomplete{
    z-index:9999;
}

ul.autocomplete-ul.loading{
    height: 40px;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}
ul.autocomplete-ul.loading *{
    display: none;  
}

ul.autocomplete-ul.loading::before{
    content: "";
    width: 30px;
    height: 30px;
    border: 2px solid #eee;
    display: block;
    position: absolute;
    border-radius: 100%;
    top: 4px;
    left: calc(50% - 15px);
    border-top-color: #ff8c00;
    /* border-top-color: #56a7b4;; */
    animation: loading 1s linear infinite;
}
ul.autocomplete-ul.loading::after{
    content: "";
    width: 22px;
    height: 22px;
    display: block;
    position: absolute;
    /* border: 1px solid #ccc; */
    top: 8px;
    left: calc(50% - 11px);
    background: url(/images/logo/nint_big.png);
    background-repeat: no-repeat;
    background-size: 47px;
    background-position: 2px 5px;
    opacity: 0.8;
    filter: grayscale(100);
}


@keyframes loading{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(359deg);
    }
}

@media screen and (min-width:769px){
    ul.autocomplete-ul::-webkit-scrollbar{
        width: 3px;
    }
}
