.scroll-container{
    height: 100%;
}
.scroll-container-y{
    overflow: hidden;
}
.scroll-container-x{
    overflow: hidden;
}

.scroll-object{
    overflow: hidden;
}
.scroll-object-y{
    height: auto;
    min-height: 100%;
}
.scroll-object-x{
    /* width: auto !important; */
    min-width: 100%;
    display: inline-block !important;
}

.scroll-bar-container{
    opacity: 0;
    position: absolute;
    z-index: 999;
    transition: opacity 0.5s;
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

.myScroll.show-scroll-y>div.scroll-bar-container-y{
    opacity: 1;
}
.myScroll.show-scroll-x>div.scroll-bar-container-x{
    opacity: 1;
}
.myScroll.hide-bar-not-hover>div.scroll-bar-container>div.scroll-bar{
    opacity: 0;
}
.myScroll.hide-bar-not-hover:hover>div.scroll-bar-container>div.scroll-bar,
.myScroll.hide-bar-not-hover.on-scroll>div.scroll-bar-container>div.scroll-bar
{
    opacity: 1;
}

.scroll-bar-container-y{
    top: 0px;
    height: 100%;
    right: 0;
}
.scroll-bar-container-x{
    bottom: 0;
    width: 100%;;
    left: 0;
}
.myScroll:hover>.scroll-bar-container,
.myScroll.on-scroll-y>.scroll-bar-container-y,
.myScroll.on-scroll-x>.scroll-bar-container-x,
.myScroll.on-scroll-y>.scroll-bar-container-y>div.scroll-bar-y,
.myScroll.on-scroll-x>.scroll-bar-container-x>div.scroll-bar-x
{
    opacity: 1;
}
.myScroll.animation-bar:hover>.scroll-bar-container>.scroll-bar-y,
.myScroll.animation-bar.on-scroll-y>.scroll-bar-container>.scroll-bar-y{
    transform: scaleY(1);
}
.myScroll.animation-bar:hover>.scroll-bar-container>.scroll-bar-x,
.myScroll.animation-bar.on-scroll-x>.scroll-bar-container>.scroll-bar-x{
    transform: scaleX(1);
}
.myScroll.animation-bar>div.scroll-bar-container .scroll-bar-y{
    transform:scaleY(0);
    transform-origin: 0% 0%;
}
.myScroll.animation-bar>div.scroll-bar-container .scroll-bar-x{
    transform:scaleX(0);
    transform-origin: 0% 0%;
}
.scroll-bar{
    cursor: pointer;
    transition: background-color 0.5s,transform 0.5s ease-in-out , opacity 0.5s;
}
.scroll-bar-y{
    background:linear-gradient(to right,#babbbd, #c1c9cf);
    min-height: 10px;
}
.scroll-bar-x{
    background:linear-gradient(to right,#babbbd, #c1c9cf);
    height: 100%;
}
.scroll-bar-y:hover,
.myScroll.on-scroll-y>.scroll-bar-container-y>.scroll-bar-y,
.scroll-bar-x:hover,
.myScroll.on-scroll-x>.scroll-bar-container-x>.scroll-bar-x
{
    background: linear-gradient(to right,rgba(155, 157, 161,.9), rgba(116, 122, 126,.9)) !important;
    box-shadow:  0px 0px 3px rgba(0,0,0,0.5);
}
    

.scroll-container.shadow-top::before,
.scroll-container.shadow-left::after{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;

}
.scroll-container.shadow-top::before{
    width: 100%;
    height: 5px;
    background: linear-gradient(to bottom,rgba(0,0,0,.2) ,rgba(0,0,0,0));
}
.scroll-container.shadow-left::after{
    height:  100%;
    width: 5px;
    background: linear-gradient(to right,rgba(0,0,0,.2) ,rgba(0,0,0,0));
}
.myScroll div.myScroll-button-footer{
    position: absolute;
    bottom: 8px;
    right: 5px;
    z-index: 99999999;
}
.myScroll button.myScroll-top-button{
    /* position: absolute; */
    display: inline-flex ;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    margin-right: 3px;
    border-radius: 100%;
    border: 0;
    width: 2em;
    height: 2em;
    color: white;
    background: rgba(0,0,0,0.7);
    opacity: 0.7;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.5s;
    animation: bounceUp 0.5s  1;
}
@keyframes bounceUp{
    0%{
        transform: translateY(40px) ;
        /* rotateY(0); */
        opacity: 0.2;
    }
    20%{
        transform: translateY(-20px);
         /* rotateY(90deg); */
        opacity: 0.7;
    }
    40%{
        transform: translateY(15px);
        /* rotateY(90deg); */
       opacity: 0.7;
    }
    60%{
        transform: translateY(-10px);
        /* rotateY(90deg); */
       opacity: 0.7;
    }
    80%{
        transform: translateY(5px);
        /* rotateY(90deg); */
       opacity: 0.7;
    }
    100%{
        transform: translateY(0) ;
         /* rotateY(180deg); */
        opacity: 0.7;
    }
}
.myScroll>button.myScroll-top-button:hover{
    opacity: 1;
}
  
